spring.datasource.url=jdbc:postgresql://localhost:5432/B2b_ContractManager
spring.datasource.username=
spring.datasource.password=
spring.datasource.driver-class-name=org.postgresql.Driver

spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.format_sql=true

### Paths ###
company.base.path = /companies
contract.base.path = /contracts
id.operations.path = /{id}
count.operations.path = /count